@import "tailwindcss";

.hide-scrollbar {
  overflow-x: scroll !important;                 /* critical: forces scroll-ability */
  -ms-overflow-style: none;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;  /* smooth iOS momentum */
  touch-action: pan-x;                /* allows horizontal touch panning */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.supportList {
  list-style: none;       /* removes bullets */
  padding-left: 0;        /* removes default left padding of the list */
  margin: 0;              /* optional: removes default margin */
}